<div class="card vault panel">
  <div class="card-header">
    <span class="card-icon fas fa-dragon"></span>
    Coffre-fort
    <span class="divider">»</span>
    <span class="subtitle">Voir vos monstres</span>
  </div>
  <div class="card-body">
    <table id="table-monsters" class="table nowrap"></table>
  </div>
  <div class="card-footer text-right">
    <input type="file" accept=".json" id="vault-import-file" />
    <div class="dropdown dropdown-options dropup">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-toggle="dropdown"
      >
        <span class="fas fa-cog"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <button
          type="button"
          class="dropdown-item btn-reset"
          data-toggle="modal"
          data-target="#modal-empty"
        >
          <span class="fas fa-trash"></span>Vider le coffre-fort
        </button>
        <div class="dropdown-divider"></div>
        <button type="button" class="dropdown-item btn-import-srd">
          <span class="fas fa-file-import"></span>Importer les monstres du SRD
          dans le coffre-fort
        </button>
        <div class="dropdown-divider"></div>
        <button type="button" class="dropdown-item btn-export-to-json">
          <span class="fas fa-file-export"></span>Exporter le coffre-fort en
          .json
        </button>
        <button type="button" class="dropdown-item btn-import-from-json">
          <span class="fas fa-file-import"></span>Importer des monstres à partir
          de .json
        </button>
      </div>
    </div>
    <a class="btn btn-primary" href="#/laboratory">
      <span class="fas fa-plus"></span>
      Ajouter un Monstre
    </a>
  </div>
  <div id="modal-empty" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="card-icon fas fa-trash"></span>
            Vider le coffre-fort
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Êtes-vous sûr de vouloir vider le coffre-fort et supprimer tous vos
            monstres ?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-cancel"
            data-dismiss="modal"
          >
            <span class="fas fa-times"></span>
            Non
          </button>
          <button
            type="button"
            class="btn btn-primary btn-confirm"
            data-dismiss="modal"
          >
            <span class="fas fa-check"></span>
            Oui
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-deleted-monster" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="card-icon fas fa-trash"></span>
            Monstre #{{passthroughData.oldId}}
            supprimé
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Vous avez supprimé le monstre #{{passthroughData.oldId}}
            de votre coffre-fort</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <span class="fas fa-check"></span>
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-imported-monsters" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="card-icon fas fa-file-import"></span>
            Importation terminée
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Vous avez importé
            <span class="count"></span>
            monstre(s) dans le coffre-fort.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <span class="fas fa-check"></span>
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-import-monsters-failure" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="card-icon fas fa-file-import"></span>
            Aucun monstre n'a été trouvé
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Ce fichier ne contient aucun enregistrement de monstre valide.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <span class="fas fa-check"></span>
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-import-srd-monsters" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="card-icon fas fa-file-import"></span>
            Importer des monstres du SRD
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Voulez-vous importer 322 monstres du SRD 5e dans votre coffre-fort
            ?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-cancel"
            data-dismiss="modal"
          >
            <span class="fas fa-times"></span>
            Non
          </button>
          <button
            type="button"
            class="btn btn-primary btn-confirm"
            data-dismiss="modal"
          >
            <span class="fas fa-check"></span>
            Oui
          </button>
        </div>
      </div>
    </div>
  </div>
</div>