<header class="app-header fixed-top">
  <div class="app-header-heading">
    <div class="app-container">
      <h1>
        <img src="images/icon-giffyglyph.png" />
        <a href="#">
          <span>Le</span>
          <span>Créateur de monstre</span>
        </a>
      </h1>
      <button
        data-toggle="modal"
        data-target="#modal-about"
        class="btn btn-primary"
        data-type="about"
      >
        <span class="fas fa-question"></span>
      </button>
      <button
        data-toggle="modal"
        data-target="#modal-settings"
        class="btn btn-primary"
        data-type="reddit"
      >
        <span class="fas fa-cog"></span>
      </button>
      <button
        class="btn btn-primary btn-menu"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fas fa-bars"></span>
      </button>
    </div>
  </div>
  <div class="app-header-navbar">
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <button
              data-toggle="modal"
              data-target="#modal-about"
              class="nav-link"
            >
              <span class="fas fa-question"></span>À propos
            </button>
          </li>
          <li class="nav-item">
            <button
              data-toggle="modal"
              data-target="#modal-settings"
              class="nav-link"
            >
              <span class="fas fa-cog"></span>Paramètres
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="app-header-navigation">
    <div id="router-navigation" class="app-container"></div>
  </div>
</header>
<section class="app-body">
  <div id="router-breadcrumbs"></div>
  <div id="router-body" class="app-container"></div>
</section>
<div class="modals">
  <div id="modal-about" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="card-icon fas fa-question"></span>
            Créateur de monstre
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bienvenue dans
            <strong>le Créateur de monstre </strong>! Cette app permets de créer
            des monstres pour du JDR</p>
          <p><i>v1.0.0</i></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <span class="fas fa-check"></span>
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-settings" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="card-icon fas fa-cog"></span>
            Paramètres
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Gérer vos paramètres et vos données utilisateur.</p>
          <div class="settings">
            <div class="setting">
              <div class="content">
                <div class="description">
                  <p class="title">Thème par défaut</p>
                  <p>Choisissez un thème pour vos monstres.</p>
                </div>
                <select class="form-control settings-theme">
                  <option value="diamond">Diamand</option>
                  <option value="giffyglyph">Giffyglyph</option>
                  <option value="new-giffyglyph">New Giffyglyph</option>
                  <option value="5e">D&D 5E</option>
                  <option value="transparent">Transparent</option>
                </select>
              </div>
            </div>
            <div class="setting">
              <div class="content">
                <div class="description">
                  <p class="title">Défense active</p>
                  <p>Utiliser la règle de
                    <i>Défense active</i>
                    de
                    <i>Giffyglyph's Darker Dungeons</i>.</p>
                </div>
                <select class="form-control settings-defence">
                  <option value="disabled">Désactivé</option>
                  <option value="normal">Normal (+22)</option>
                  <option value="small">Petite (+12)</option>
                </select>
              </div>
            </div>
            <div class="setting">
              <div class="content">
                <div class="description">
                  <p class="title">Effacer les données locales</p>
                  <p>Effacer toutes les données locales sauvegardées.</p>
                </div>
                <button type="button" class="btn btn-secondary btn-wipe-data">
                  <span class="fas fa-trash"></span>
                  Effacer
                </button>
              </div>
              <div class="confirmation">
                <div class="description">
                  <p class="title">Effacer les données locales</p>
                  <p>Êtes-vous sûr ?</p>
                </div>
                <button
                  type="button"
                  class="btn btn-secondary btn-wipe-data-cancel"
                >
                  <span class="fas fa-times"></span>
                  Non
                </button>
                <button
                  type="button"
                  class="btn btn-secondary btn-wipe-data-confirm"
                >
                  <span class="fas fa-check"></span>
                  Oui
                </button>
              </div>
              <div class="confirmed">
                <div class="description">
                  <p class="title">Effacer les données locales</p>
                  <p>Effacement des données terminé.</p>
                </div>
                <span class="fas fa-check-circle"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary btn-save"
            data-dismiss="modal"
          >
            <span class="fas fa-save"></span>
            Sauvegarder
          </button>
        </div>
      </div>
    </div>
  </div>
</div>